<head>
<%= stylesheet_link_tag 'hello', :media => "all" %>
<link href="https://fonts.googleapis.com/css?family=Kaushan+Script rel="stylesheet">
<link href="https://fonts.googleapis.com/earlyaccess/hannari.css" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Sawarabi+Mincho&display=swap" rel="stylesheet">
</head>
<div class="wrap">
  <ul class="slideshow">
    <li class="content1"></li>
    <li class="content2"></li>
    <li class="content3"></li>
    <li class="content4"></li>
    <li class="content5"></li>
    <li class="content6"></li>
    <li class="content7"></li>
    <li class="content8"></li>
    <li class="content9"></li>
  </ul>
  <ul class="slideshow">
    <li class="content1"></li>
    <li class="content2"></li>
    <li class="content3"></li>
    <li class="content4"></li>
    <li class="content5"></li>
    <li class="content6"></li>
    <li class="content7"></li>
    <li class="content8"></li>
    <li class="content9"></li>
  </ul>
  <ul class="slideshow">
    <li class="content1"></li>
    <li class="content2"></li>
    <li class="content3"></li>
    <li class="content4"></li>
    <li class="content5"></li>
    <li class="content6"></li>
    <li class="content7"></li>
    <li class="content8"></li>
    <li class="content9"></li>
  </ul>
  <ul class="slideshow">
    <li class="content1"></li>
    <li class="content2"></li>
    <li class="content3"></li>
    <li class="content4"></li>
    <li class="content5"></li>
    <li class="content6"></li>
    <li class="content7"></li>
    <li class="content8"></li>
    <li class="content9"></li>
  </ul>
  <ul class="slideshow">
    <li class="content1"></li>
    <li class="content2"></li>
    <li class="content3"></li>
    <li class="content4"></li>
    <li class="content5"></li>
    <li class="content6"></li>
    <li class="content7"></li>
    <li class="content8"></li>
    <li class="content9"></li>
  </ul>
  <ul class="slideshow">
    <li class="content1"></li>
    <li class="content2"></li>
    <li class="content3"></li>
    <li class="content4"></li>
    <li class="content5"></li>
    <li class="content6"></li>
    <li class="content7"></li>
    <li class="content8"></li>
    <li class="content9"></li>
  </ul>
  <ul class="slideshow">
    <li class="content1"></li>
    <li class="content2"></li>
    <li class="content3"></li>
    <li class="content4"></li>
    <li class="content5"></li>
    <li class="content6"></li>
    <li class="content7"></li>
    <li class="content8"></li>
    <li class="content9"></li>
  </ul>
</div>
<div class="second-block">
  <h1>街をキャンパスに、自分を彩ろう</h1>
  <h2>~Color your life~</h2>
  <ul class="gnavi">
  <li><%= link_to "visit outfits", tweets_path %></li>
  <li><%= link_to "join outfits", new_user_registration_path %></li>
  </ul>
</div>
<div class="third-block">
  <h1>about us</h1>
  <h2>OUTFITSは、大学生限定のファッションサイトです。製作者が、大学入学次にファッションに疎く、<br>大学デビューに失敗した経験から作成したサイトになります。このサイトを通じて、多くの人が後悔のない
  <br>大学生活を送ることの後押しが出来たら幸いです。</h2>
</div>
<div class="fifth-block">
</div>
<div class="forth-block">
  <h1>contact us</h1>
  <h2>当サイトは会員制となっており、指定のメールアドレスでのみ新規登録が可能となっています。<br>登録手続きが上手く進まない場合は、こちらまで(f119014@m.chukyo-u.ac.jp)以下３点を連絡おねがします。<br>①大学名 ②○○○＠大学名-u.ac.jp(○箇所の文字数) ③大学在籍を証明できるもの</h2>
</div>
<p id="page-top"><a href="#">Top</a></p>